@import '../styles/custom-media.scss';
@import '../styles/custom-properties.scss';

.cardGroup {
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 1rem;
  min-width: var(--card-width);
  max-width: var(--card-width);
}
.cardFooter {
  display: flex;
  flex-direction: column;
}
