@import '../styles/custom-media.scss';
@import '../styles/custom-properties.scss';

.cardGroup {
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem;
  min-width: var(--card-width);
  max-width: var(--card-width);
}
.cardFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
}
.cardButton {
  @include lightButton;
  max-width: 48%;
  margin-top: 1rem;
}
