@import '../styles/custom-media.scss';
@import '../styles/custom-properties.scss';

.header {
  display: flex;
  width: calc(100% - 2rem);
  margin: 1rem 1rem 0;
  justify-content: space-between;
  align-items: center;
}

.loggedInButton,
.loggedOutButton {
  color: var(--light-gray);
  border: 2px var(--google-red);
  background-color: var(--google-red);
  &hover {
    background-color: var(--yellow) !important;
    border: 2px var(--black) !important;
  }
}
